.post-category-jekyll {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #D71A7B;
    font-size: 0.85rem;
}
.post-category-tarih {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #11527A;
    font-size: 0.85rem;
}
.post-category-website {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #A80F3B;
    font-size: 0.85rem;
}
.post-category-konular {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #491D29;
    font-size: 0.85rem;
}
.post-category-pythonistan {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #0F0D0D;
    font-size: 0.85rem;
}
.post-category-python {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #000000;
    font-size: 0.85rem;
}
.post-category-algoritma {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #E89A30;
    font-size: 0.85rem;
}
.post-category-kurulum {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #26A832;
    font-size: 0.85rem;
}
.post-category-program {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #5C7A5F;
    font-size: 0.85rem;
}
.post-category-programlama {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #3F6A43;
    font-size: 0.85rem;
}
.post-category-kodlama {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #16B092;
    font-size: 0.85rem;
}
.post-category-hugo {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #BD4CAF;
    font-size: 0.85rem;
}
.post-category-karakter-dizileri {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #ED3915;
    font-size: 0.85rem;
}
.post-category-stringler {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #FE7B61;
    font-size: 0.85rem;
}
.post-category-string-index {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #1FCE4F;
    font-size: 0.85rem;
}
.post-category-prensip {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #240D8A;
    font-size: 0.85rem;
}
.post-category-statik-site-gelistiriciler {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #BB0F33;
    font-size: 0.85rem;
}
.post-category-git {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #311E37;
    font-size: 0.85rem;
}
.post-category-github {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #863DA0;
    font-size: 0.85rem;
}
.post-category-hosting {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #F39C12;
    font-size: 0.85rem;
}
.post-category-kaynak {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #34495E;
    font-size: 0.85rem;
}
.post-category-kabuk {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #F39C12;
    font-size: 0.85rem;
}
.post-category-komut-satiri {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #73C6B6;
    font-size: 0.85rem;
}
.post-category-powershell {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #145A32;
    font-size: 0.85rem;
}
.post-category-chocolatey {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #FFFFFF;
    background: #45B39D;
    font-size: 0.85rem;
}